# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/



# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

### Java-Web ###
## ignoring target file
target/

### Maven ###
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

.idea/
